<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fixinnew">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="FixIn"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bengkelTampil"></activity>
        <activity android:name=".bengkelDaftar" />
        <activity android:name=".reminder" />
        <activity android:name=".sparepart" />
        <activity android:name=".Aki" />
        <activity android:name=".MenuAki" />
        <activity android:name=".Oli" />
        <activity android:name=".Peta" />
        <activity android:name=".PilihSebagaiLogin" />
        <activity android:name=".DetailProfile" />
        <activity android:name=".DetailKendaraan" />
        <activity android:name=".FormKendaraanAwal" />
        <activity
            android:name=".Dashboard"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".syaratKetentuan" />
        <activity android:name=".FAQ" />
        <activity android:name=".TentangApl" />
        <activity android:name=".HubungiKami" />
        <activity android:name=".Maps" />
        <activity android:name=".CardView" />
        <activity android:name=".InputStnk" />
        <activity android:name=".pencarian1" />
        <activity android:name=".pilihSebagai" />
        <activity android:name=".berhasilAtur" />
        <activity android:name=".atursandi2" />
        <activity android:name=".aturSandi" />
        <activity android:name=".pilih" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Onboarding1" />
        <activity android:name=".onboarding2" />
        <activity android:name=".onboarding3" />
        <activity android:name=".Buatakun" />
        <activity android:name=".ActivityLogin" />
    </application>

</manifest>